.bannerText_name
{
	position: relative;
	top: 20px;
	left: 50px;
	color: #343434;
	font-family: "微软雅黑";
	font-size: 25px;
	font-weight: 700;
	text-decoration: none;
}
.bgText
{
	position: absolute;
	top: 20%;
	left: 40%;
	color: white;
	font-family: "微软雅黑";
	font-size: 65px;
	font-weight: 600;
	text-decoration: none;
}
.bottom p
{
	position: relative;
	top: 40%;
	left: 30%;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
}
